{{- $data := dict "@type" "WebPage" -}}
{{- $author := partial "head/jsonld/author" . -}}
{{- $license := partial "head/jsonld/license" . -}}

{{- if and .IsPage ( eq .Section "products" ) -}}
  {{- $data = merge $data ( partial "head/jsonld/product" . ) }}
{{- else if and .IsPage ( or ( eq .Section "posts" ) ( eq .Section "notes" ) ) -}}
  {{- $data = merge $data ( partial "head/jsonld/blogPosting" . ) }}
{{- else -}}
  {{- $data = merge $data ( partial "head/jsonld/base" . ) }}
{{- end -}}

{{- with $author -}}
  {{- $data = merge $data ( dict "author" . ) }}
{{- end }}

{{- with $license -}}
  {{- $data = merge $data . }}
{{- end }}

{{- with .Params.query }}
  {{- $data = merge $data ( dict "hasQuery" ( dict "@type" "seovoc:Query" "name" . ) ) }}
{{- end }}

{{- with .Params.related_links }}
  {{ $links := slice }}
  {{ range . }}
    {{ $links = $links | append ( dict "@type" "seovoc:Link" "url" .url "anchorText" .anchor_text ) }}
  {{ end }}
  {{ $data = merge $data ( dict "relatedLink" $links ) }}
{{- end }}

<script type="application/ld+json">
{{ jsonify ( dict "indent" "  " ) $data | safeJS }}
</script>
