{{- $title := .Title | plainify | htmlUnescape | chomp | title -}}
{{- $description := or .Description .Summary site.Params.description | plainify | htmlUnescape | chomp -}}

{{- $keywords := slice -}}
{{- with .Keywords }}{{ $keywords = . }}{{ end }}
{{- range .GetTerms "tags" }}{{ $keywords = $keywords | append .Title }}{{ end }}
{{- $keywords = uniq ( sort $keywords ) -}}

{{- $data := dict
  "@context" "https://schema.org/"
  "@id" .Permalink
  "url" .Permalink
  "name" $title
  "description" $description
-}}

{{- with $topics }}
  {{- $data = merge $data ( dict "about" . ) }}
{{- end }}

{{- return $data }}
