{{- $base := partial "head/jsonld/base" . -}}
{{- $data := merge $base ( dict
  "@type" "BlogPosting"
  "headline" $base.name
  "mainEntityOfPage" .Permalink
  "datePublished" ( .Date.Format "2006-01-02" )
  "wordCount" .WordCount
  "timeRequired" ( printf "PT%dM" .ReadingTime )
  "isPartOf" ( dict
    "@type" "Blog"
    "@id" .CurrentSection.Permalink
    "name" ( .CurrentSection.Title | plainify | htmlUnescape | chomp | title )
  )
) -}}

{{- if lt ( .Date.AddDate 0 0 2 ) .Lastmod -}}
  {{- $data = merge $data ( dict "dateModified" ( .Lastmod.Format "2006-01-02" ) ) }}
{{- end }}

{{- return $data }}
