{{ with .Params.cta }}
<div class="not-prose flex flex-row py-4 gap-2 animate-in fade-in slide-in-from-bottom-6 duration-700 delay-400">
      {{ if gt (len .) 1 }}
    <div class="flex gap-2">
      {{ range after 1 . }}
        <a 
          href="{{ .url }}" 
          class="btn btn-light no-turbolink">
          {{ .text }} {{ partial "svg/paper-plane.html" . }}
    </a>
      {{ end }}
    </div>
  {{ end }}

  <form class="flex flex-col sm:flex-row gap-0" method="POST" action="{{ (index . 0).action_url }}">
    <button 
      type="submit" 
      class="btn-primary">
      {{ (index . 0).text }}
    </button>
    <input 
      type="email" 
      name="email" 
      placeholder="{{ (index . 0).placeholder }}" 
      required
      class="flex-1 border border-gray-300 px-4 py-2"
    >
    <input 
      type="hidden" 
      name="product" 
      value="{{ $.Title }}">

  </form>



</div>
{{ end }}
