<section class="opacity-70 text-xs sm:text-base">

  <!-- First row -->
  <div class="flex justify-between items-center mb-6">
    <a href="/products/" class="hover:underline inline-block">Products</a>
    <a href="/posts/" class="hover:underline inline-block">Posts</a>
    <a href="/projects/" class="hover:underline inline-block">Projects</a>
    <a href="/industry/" class="hover:underline inline-block">Industry</a>
    <a href="/integrations/" class="hover:underline inline-block">Integrations</a>
  </div>

  <!-- Second row -->
  <div class="flex justify-between items-center">
    <a href="https://docs.placeos.com" class="hover:underline inline-block">Docs</a>
    <a href="/licensing/" class="hover:underline inline-block">Licensing</a>
    <a href="/privacy-policy/" class="hover:underline inline-block">Privacy</a>
    <a href="/security/" class="hover:underline inline-block">Security</a>
    <a href="/terms-of-use/" class="hover:underline inline-block">Terms of Use</a>
  </div>

</section>
