<section class="items-top flex flex-row justify-between opacity-70">
  <div class="flex flex-col space-y-2">
    <a href="/products/" class="hover:underline">Products</a>
    <a href="/posts/" class="hover:underline">Posts</a>
    <a href="/projects/" class="hover:underline">Projects</a>
  </div>
  <div class="flex flex-col space-y-1 mt-2  text-xs">
    <a href="https://docs.placeos.com" class="hover:underline">Docs</a>
    <a href="/licensing/" class="hover:underline">Licensing</a>
    <a href="/privacy-policy/" class="hover:underline">Privacy</a>
    <a href="/security/" class="hover:underline">Security</a>
    <a href="/terms-of-use/" class="hover:underline">Terms of Use</a>
  </div>  
</section>
