{{- $description := or .Description .Summary site.Params.description | plainify | htmlUnescape | chomp -}}
{{- $author := or .Params.author site.Author -}}
<meta charset="utf-8" />
<meta name="language" content="{{ site.Language.LanguageName | default "en" }}" />
<meta name="viewport" content="width=device-width" />
<title>
  {{- if .IsHome }}
    {{ site.Title }}
  {{- else }}
    {{ printf "%s | %s" .Title site.Title }}
  {{- end }}
</title>
{{- with $description }}
  <meta name="description" content="{{ $description }}" />
{{- end }}
{{- with $author }}
  <meta name="author" content="{{ $author }}" />
{{- end }}
{{ if eq "404" .Kind -}}
  <meta name="robots" content="noindex" />
{{ end -}}
{{ if fileExists "static/images/favicon.svg" -}}
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
{{ end -}}
{{ if fileExists "static/images/favicon.png" -}}
  <link rel="icon" type="image/png" href="/images/favicon.png" />
{{ end -}}
{{ partial "seo/opengraph" . }}
{{ template "_internal/schema.html" . }}
<link rel="canonical" href="{{ .Permalink }}" />
{{- range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" />
{{- end }}
{{ partialCached "head/css" . }}
{{ partialCached "head/js" . }}
  {{ range site.Params.customCSS }}
    <link rel="stylesheet" href="{{ . | relURL }}">
  {{ end }}
{{- if or .Params.math site.Params.math }}
  {{ partial "head/math" . }}
{{- end }}
{{ partial "head/jsonld" . }}
<html lang="en-us">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5B3FL7Z');</script>
<!-- End Google Tag Manager -->
<meta name="google-site-verification" content="VhOLEHgmiMZWB1PLKJb_Mq40PayzpZQLgLHFGfu2v1c" />
<meta http-equiv='content-language' content='en-us'>