{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav class="flex flex-row flex-wrap items-center justify-end gap-4 text-s">
  <!-- Product Links -->
  <ul class="flex flex-row flex-wrap items-center gap-2 sm:gap-4">
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
  <div class="flex flex-row items-center gap-2">
  {{ $contact := site.GetPage "page" "contact" }}
<a
  href="{{ $contact.RelPermalink }}"
  class="p-2 rounded focus:outline-none"
>
  <span>
    {{ partial "svg/paper-plane.html" . }}
  </span>
</a>

<!-- 
  <button id="theme-toggle" class="p-2 rounded focus:outline-none" aria-label="Toggle dark mode">
    <span id="sun" class="hidden">
      {{ partial "svg/sun.html" . }}
    </span>
    <span id="moon" class="hidden">
      {{ partial "svg/moon.html" . }}
    </span>
  </button>
    -->
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
        >{{ $name }}</a
      >
    </li>
  {{- end }}
{{- end }}
