{{ define "main" }}
  <h1 class="flex flex-row items-center space-x-2">
    <span>{{ .Title }}</span>
  </h1>

  {{ .Content }}

  <div class="flex flex-col space-y-8">
    <section class="not-prose  flex flex-col space-y-4">
      {{ $pager := .Paginate .Pages (default 20 site.Params.pageSize) }}
      {{ range $index, $page := $pager.Pages }}
        {{ if gt $index 0 }}
          <hr class="border-gray-200 my-6">
        {{ end }}
        <article>
          <a href="{{ .RelPermalink }}" class="block rounded-lg p-4 -m-4 project-card">
            <h2 class="text-xl font-semibold mb-1 project-title">{{ .Title }}</h2>
            <p class="text-slate-500">{{ .Summary }}</p>
          </a>
        </article>
      {{ end }}

      {{ if gt $pager.TotalPages 1 }}
        {{ partial "pagination.html" . }}
      {{ end }}
    </section>
  </div>
{{ end }}
